@{
    ViewData["Title"] = "Inicio sesion"; 
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="c:\users\rodri\desktop\git\bd1-tarea2\tarea #2\tarea #2\wwwroot\css\login.css" rel="stylesheet" />
</head>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        
                        <form id="login-form" class="form" action="@Url.Action("InicioSesion","Acceso")" method="post"> 

                            <h3 class="text-center">Inicio de sesion</h3>
                            
                            <div class="form-group">
                                <label for="username" class="form-label">Nombre:</label><br>
                                <input type="text" name="Nombre" id="username" class="form-control" >
                            </div>
                            
                            <div class="form-group">
                                <label for="password" class="form-label">Contraseña:</label><br>
                                <input type="text" name="Contrasena" id="password" class="form-control" >
                            </div>
                            
                            <div class="form-group"> 
                                <input type="submit" name="submit" class="btn btn-primary" value="Ingresar">
                            </div>
                            <a style="color:orangered" >@ViewBag.Mensaje</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>