@{
    ViewData["Title"] = "Elegir consulta";
}


<div>
    <h1 style="margin-left: 5%; margin-top: 5%; font-size: 190%;">Consulta</h1>
</div>
 
<div style="margin-left: 5%;">
   
    <div class="col-md-6">
        <div class="col-md-12"> 
            
            <div class="form-group"> 
                <a asp-action="ConsultaPlanillaSemana"><input style="margin-top: 5%; width: 150px;" class="btn btn-primary" value="Planilla semana"> </a>
            </div>
            <div class="form-group"> 
                <a asp-action="ConsultaPlanillaMes"><input style="margin-top: 2%; width: 150px;" class="btn btn-primary" value="Planilla mensual"> </a>
            </div>
            <div class="form-group"> 
                <a asp-action="Cerrar"><input style="margin-top: 2%; width: 150px;" class="btn btn-primary" value="Salir"> </a>
            </div>

        </div>
    </div>

</div>


